/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
:root {
    --color-primario: #1a4b84; /* Azul oscuro */
    --color-secundario: #3a7ca5; /* Azul medio */
    --color-terciario: #d9e6f2; /* Azul claro */
    --color-texto: #333333; /* Gris oscuro para texto */
    --color-fondo: #ffffff; /* Blanco para el fondo */
    --color-acento: #f39c12; /* Naranja para acentos */
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-texto);
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Tipografía */
.titulo {
    color: var(--color-fondo);
}

.subtitulo {
    font-size: 30px;
    color: var(--color-secundario);
}

.texto {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: #000000; /* Negro para todos los párrafos */
    text-align: justify;
    margin-top: 20px;
}

/* Menú */
.menu {
    background: var(--color-primario);
    width: 100%;
}

.menu__lista {
    list-style: none;
}

.menu__item {
    display: inline-block;
}

.menu__enlace {
    background: var(--color-primario);
    display: block;
    color: var(--color-fondo);
    text-decoration: none;
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
}

.menu__enlace:hover {
    background: var(--color-acento);
    color: var(--color-primario);
}

.submenu {
    display: none;
    position: absolute;
    min-width: 40px;
    margin: 0 auto;
}

.menu__item:hover > .submenu {
    display: block;
    margin: 0 25px;
    text-decoration: none;
}

/* Navegación */
.navegacion {
    background-color: var(--color-primario);
    color: var(--color-fondo);
    text-align: center;
}

/* Encabezado */
.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #004080;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.encabezado__logo {
    height: 80px;
    margin-right: 15px;
    border-radius: 10px;
}

/* Contenedores */
.contenedor {
    max-width: var(--ancho-maximo);
    margin: 0 auto;
    padding: 20px;
}

.contenedor--inicio {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.contenedor--general {
    width: var(--ancho-maximo);
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: var(--color-fondo);
}

.contenedor--descripcion,
.contenedor--objetivos {
    width: 900px;
    margin: 0 auto;
    padding: 30px 25px;
    background-color: var(--color-fondo);
    color: var(--color-secundario);
    border-radius: 5px;
}
/* Index */
.intro p {
    text-align: center;
}
/* Secciones */
.seccion-video {
    position: relative;
    padding-bottom: 56.25%; /* Aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 800px; /* Ancho máximo prudente */
    margin: 0 auto 30px; /* Centrado y margen inferior */
}

.seccion-video__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Servicios */
.servicios {
    width: 100%;
}

.servicios__contenedor {
    max-width: 900px;
    padding: 30px 0;
    margin: 0 auto;
}

.servicios__fila {
    display: flex;
    justify-content: space-between;
}

.servicios__columna {
    width: calc(50% - 20px);
    padding: 20px;
}

.servicios__imagen {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.servicios__titulo {
    font-size: 1.5em;
    color: var(--color-primario);
    margin-bottom: 10px;
}

.texto--justificado {
    text-align: justify;
}

/* Contacto */
.contacto__titulo {
    width: var(--ancho-maximo);
    margin: 0 auto;
}

.contacto__subtitulo {
    margin: 20px;
    color: var(--color-secundario);
    font-size: 26px;
    text-align: center;
}

.contacto__contenedor {
    max-width: var(--ancho-maximo);
    margin: 10px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}
.tarjeta-contacto__info .texto {
    text-align: left;
}
.tarjeta-contacto {
    background-color: var(--color-fondo);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: calc(50% - 10px);
    padding: 20px;
    display: flex;
}

.tarjeta-contacto__imagen {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

/* Formulario */
.formulario__contenedor {
    width: 660px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-secundario);
    border-radius: 10px;
}

.formulario {
    margin: 30px 0;
    display: grid;
    gap: 10px;
}

.formulario__etiqueta {
    font-weight: bold;
    font-size: 24px;
    color: var(--color-fondo);
    padding: 10px;
}

.formulario__campo {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.formulario__boton {
    padding: 10px 20px;
    background-color: #007bff;
    color: var(--color-fondo);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    margin: 20px 0 0;
}

.formulario__boton:hover {
    background-color: var(--color-primario);
}

/* Pie de página */
.pie-pagina {
    background-color: var(--color-primario);
    color: var(--color-texto-claro);
    padding: 40px 0 20px;
    color: var(--color-terciario);
    margin-top: 40px;
}

.pie-pagina__contenedor {
    width: 1300px;;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.pie-pagina__seccion {
    width: calc(25% - 10px);
    margin-bottom: 20px;
}

.pie-pagina__titulo {
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--color-terciario);
    padding-bottom: 5px;
    display: inline-block;
}

.pie-pagina__texto {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-terciario);
}

.pie-pagina__lista {
    list-style-type: none;
    padding: 0;
}

.pie-pagina__enlace {
    color: var(--color-terciario);
    text-decoration: none;
    font-size: 0.9rem;
    line-height: 1.8;
    transition: color 0.3s ease;
}

.pie-pagina__enlace:hover {
    color: var(--color-acento);
}

.pie-pagina__redes-sociales {
    display: flex;
    flex-wrap: wrap;
}

.pie-pagina__red-social {
    color: var(--color-terciario);
    text-decoration: none;
    font-size: 0.9rem;
    margin-right: 10px;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.pie-pagina__red-social:hover {
    color: var(--color-acento);
}

.pie-pagina__derechos {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid var(--color-terciario);
    font-size: 1rem;
}
.pie-pagina__derechos p {
    color: var(--color-terciario)
}
/* Estilos responsivos para el footer */
@media (max-width: 768px) {
    .pie-pagina__seccion {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .pie-pagina__seccion {
        width: 100%;
    }
}

/* Añade esto a tu archivo style.css */

.galeria--dos-columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.galeria--dos-columnas .galeria__imagen,
.galeria--dos-columnas .galeria__video {
    width: 48%; /* Ajusta este valor según necesites */
    margin-bottom: 20px;
}

.contenedor--dos-columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenedor--dos-columnas .parrafo {
    width: 48%; /* Ajusta este valor según necesites */
}

.texto--justificado {
    text-align: justify;
}

.contenedor--general {
    width: 960px;
    margin: 0 auto;
    padding: 40px 30px 30px;
    background-color: #fff;
}

.contenedor--descripcion {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
}

.galeria--dos-columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.galeria--dos-columnas .galeria__imagen,
.galeria--dos-columnas .galeria__video {
    width: calc(50% - 15px); /* 15px es la mitad del espacio entre las imágenes */
    margin-bottom: 20px;
}

.contenedor--parrafos {
    width: 100%;
}

.contenedor--dos-columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenedor--dos-columnas .parrafo {
    width: calc(50% - 15px); /* 15px es la mitad del espacio entre los párrafos */
}

.texto--justificado {
    text-align: justify;
    margin-bottom: 0px
}

/* Asegúrate de que los videos se ajusten correctamente */
.galeria__video {
    max-width: 100%;
    height: auto;
}

.imagen-contenedor {
    text-align: center;
    margin: 30px 0;
}

.imagen--centrada {
    max-width: 80%;
    height: auto;
    display: inline-block;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .tarjeta-contacto {
        width: 100%; /* Una tarjeta por fila en pantallas pequeñas */
    }
}

/* Estilos específicos para contacto.html */

.contacto__titulo {
    width: var(--ancho-maximo);
    margin: 0 auto;
}

.contacto__subtitulo {
    margin: 20px;
    color: var(--color-secundario);
    font-size: 26px;
    text-align: center;
}

.contacto__contenedor {
    max-width: 960px;
    margin: 10px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

.tarjeta-contacto {
    background-color: var(--color-fondo);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: calc(50% - 10px);
    padding: 20px;
    display: flex;
}

.tarjeta-contacto__imagen {
    width: 100px;
    height: 150px;
    border-radius: 8px;
    margin-right: 20px;
}

.tarjeta-contacto__info p {
    margin: 0;
}