form {
  background: #f4f4f4;
  margin: 0 auto;
  padding: 10px;
  border: 1px;
  border-radius: 8px;
  width: 60%;
  box-shadow: 8px 8px 6px black;
  /*para la sombra */
}

label {
  display: inline-block;
  /*tamano sea uniforme */
  width: 200px;
  text-align: right;
}

.texto {
  /*una clase que sera asociada a una etiqueta*/
  width: 200px;
  font-family: cursive;
}

.texto:hover {
  background: red;
  color: white;
}

header {
  background: #4CAF50;
  text-align: center;
  color: white;
  padding: 10px 0;
}

main {
  background: #f4f4f4;
  padding: 20px;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  /*se mantenga fijo  en un scroll*/
  bottom: 0;
}

nav {
  background: rgb(0, 0, 0, 0.7);
  color: white;
  position: relative;
  width: 100%;
  display: flex;
}

ul {

  display: flex;
  /* se oriente en forma horizontal*/
  float: left;
}

li {
  font-size: 18px;
  margin-right: 20px;
}

a {
  /* vinculos de paginas */
  text-decoration: none;
  /*quitar el subrayado */
  color: white;
}

a:hover {
  color: blue;
}

section {
  float: left;
  /* se organizan a la izquerda*/
  width: 30%;
  background: lightblue;
  margin: 0 10px;

}