/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 960px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #d7edff5d, #ffffff);
    position: relative;
}

h1 {
    color: #fff;
}

h3,
h4 {
    font-size: 30px;
    color: #003366;
}

p {
    color: #003366;
    font-size: 18px;
    margin-top: 20px;
}

/*MENU*/
.ulclass {
    background: #0056b3;
    width: 100%;
}

ul,
li {
    list-style: none;
}

.ulclass li a {
    background: #0056b3;
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px 20px;
    font-size: 25px;
    font-weight: bold;
}

.ulclass>li {
    display: inline-block;
}

.ulclass li a:hover {
    list-style: none;
    
    background: #eca023;
    color: #003366;
}

.ulclass li ul {
    list-style: none;
    justify-content: center;
    display: none;
    position: absolute;
    min-width: 40px;
    margin: 0 auto;
}

.ulclass li:hover>ul {
    text-decoration: underline;
    display: block;
    list-style: none;
    margin: 0 25px;
    text-decoration: none;
}

nav {
    background-color: #0056b3;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #004080;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header img {
    height: 80px;
    margin-right: 15px;
    border-radius: 10px;
}

/*HOME*/
.contenedor_inicio {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

.intro p{
    text-align: center;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.imagen_contenedor {
    text-align: center;
    margin-bottom: 20px;
}

.video_contenedor_inicio {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    overflow: hidden;
    margin-bottom: 20px;
}

.video_contenedor_inicio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*DESCRIPCIÓN*/
.contenedor_general {
    width: 960px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #fff;
}

.contenedor_descripcion,
.contenedor_objetivos {
    width: 900px;
    margin: 0 auto;
    padding: 30px 25px 30px 25px;
    background-color: #fff;
    color: #003366;
    border-radius: 5px;
}

.contenedor_descripcion img {
    padding-top: 40px;
    padding-left: 140px;
}

.contenedor_descripcion h3 {
    font-size: 26px;
}

.contenedor_descripcion p {
    text-align: justify;
    font-size: 18px;
}

.video-container {
    margin: 25px auto;
}

.video-container,
.img-container,
.contenedor_parrafo {
    width: 960px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
}

.img-container img {
    width: 370px;
    margin: 10px 45px;
    border-radius: 5px;
}

.parrafoUno {
    width: 400px;
    margin: 10px 30px;
}

.parrafoUno p {
    color: #003366;
    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
    text-align: justify;
}

.parrafoUno h4 {
    font-size: 20px;
    color: #003366;
}

.contenedor_texto p {
    width: 400px;
    color: #003366;
    margin: 0px 30px 40px 30px;
    text-align: justify;
}

video {
    width: 370px;
    /* Ocupa casi la mitad del ancho del contenedor */
    border-radius: 5px;
    margin: 10px 45px;
    padding: 0px 30px;
}

.video-description {
    width: 960px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
}

.video-description p {
    font-size: 18px;
    line-height: 1.6;
    color: white;
    text-align: justify;
}

.video_cont {
    padding: 0px;
}

/* SERVICIOS*/
.titulo_servicios h4 {
    color: #0056b3;
    font-size: 25px;
}

.contenedor_servicios {
    max-width: 900px;
    padding: 60px 60px 140px 60px;
    margin: 0 auto;
    background-color: #ffffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}

.contenedor_servicios img {
    width: 100%;
    height: auto;
}

.contenedor_servicios h3 {
    font-size: 1.5em;
    margin-top: 10px;
    color: #0056b3;
}

.contenedor_servicios p {
    margin-top: 10px;
    color: #0056b3;
    text-align: justify;
}

/*CONTACTO*/
.titulo_contacto {
    width: 960px;
    margin: 0 auto;
}

.titulo_contacto h4 {
    margin: 20px;
    color:#003366;
    font-size: 26px;
    text-align: center;
    
}

.container {
    max-width: 960px;
    /* Ancho máximo por fila */
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

.contact-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: calc(50% - 10px);
    /* 2 contactos por fila */
    padding: 20px;
    display: flex;
}
.contact-card img {
    width: 100px;
    height: 150px;
    /* Imagen vertical */
    border-radius: 8px;
    margin-right: 20px;
}
.contact-card img {
    width: 100px;
    height: 150px;
    /* Imagen vertical */
    border-radius: 8px;
    margin-right: 20px;
}

.contact-info h3 {
    margin-top: 0;
    line-height: 1.5;
    color: #003366;
}

.contact-info p {
    margin-top: 0;
    line-height: 1.5;
    color: #003366;
    justify-content:none;
}

/* FORMULARIO*/
.container_form {
    max-width: 660px;
    margin: 0 auto;
    padding: 20px;
    background-color: #003366;
    border-radius: 10px;
}

form {
    margin: 30px 0px;
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    padding: 10px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 0px solid;
}

::placeholder {
    padding: 10px;
    p
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
    margin:20px 0px 0px 0px;
}

button:hover {
    background-color: #0056b3;
}
/*FOOTER*/
footer {
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: white;
    margin-top: 40px;
}

footer p {
    margin: 0px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}