* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    color: gray;
}

.contenedor_ejercicio {
    width: 850px;
    height: 250px;
}

/*JERCICIO1*/
.ejercicio1 {
    margin: 80px;
    width: 180px;
    height: 80px;
    background-color: blue;
    color: aliceblue;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    
}

.contenedor_ejercicio .ejercicio1:hover {
    margin: 20px;
    width: 380px;
    height: 180px;
    background-color: greenyellow;
    color: rgb(54, 63, 63);
    transition: 3s ease-in-out;
    border-radius: 10px;
}

/*EJERCICIO2*/
.cuadrado {
    margin: 80px;
    width: 180px;
    height: 180px;
    background-color: blue;
    transition: transform 1.5s;
    ;
    border: none;
}

.cuadrado:active {
    margin: 80px;
    width: 180px;
    height: 180px;
    background-color: rgb(98, 255, 0);
    transform: rotate(360deg);
    border: none;
}
/*EJERCICIO3*/
.contenedor_ejercicio .rotar-imagen {
    position: relative;
    left: 0px;
    margin: 40px;
    width: 180px;
    height: 180px;
    fill: rgba(251, 255, 0, 0.937);
    transition: transform 1s ease, left 1s ease; 
}

.contenedor_ejercicio .rotar-imagen:active {
    left: 100px;
    transform: rotate(360deg) scale(0.5); 
}

.contenedor_ejercicio .rotar-imagen:hover {
    margin: 40px;
    width: 180px;
    height: 180px;
    fill: rgb(0, 255, 170);
}

/*EJERCICIO4*/
.contenedor_loading {
    position: relative;
    top: 30px;
    left: 20px;
    padding: 0px;
    width: 90%;
    background: whitesmoke;
    border-radius: 20px;
    border: 1px solid #555555;
    overflow: hidden;
}

.loading {
    width: 5%;
    height: 80px;
    background: blue;
    transition: width 1.5s ease-in-out; /* Transición en la propiedad width */
    border-radius: 20px 0px 0px 20px;
}
#myButton{
    position: relative;
    top: 40px;
    left: 350px;
    padding: 20px;
    border-radius:10px;
    font-size: 16px;
}
/*EJERCICIO5*/
.contenedor_ejercicio .ejercicio5{
    margin: 80px;
}
.contenedor_ejercicio .ejercicio5:hover {
    fill:rgb(98, 255, 0);
    transition: 0.5s ease-in-out;
    transform: rotate(360deg); 
}
.contenedor_ejercicio .ejercicio5:active {
    fill:rgb(98, 255, 0);
    scale: 1.5;
    transition: 1.5s ease-in-out;
}





